
.content{
    flex-direction: column;
    padding: 24px;
}

.content.js{
    margin-left: 100px;
    margin-top: 20px;
    display: flex;
    height: 500px;
    width: 1000px;
    background: linear-gradient(0deg, #b8b8b8);
}

.content .listaAtm{
    background: rgb(243, 243, 243);
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0;
    height: fit-content;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.content .listaAtm::after {
    content: '';
    width: 100.5%;
    height: 102%;
    position: absolute;
    top: -1.25%;
    left: -0.25%;
    border-radius: 10px;
    background: linear-gradient(0deg, #b8b8b8, #ffffff);
    opacity: 0.5;
    z-index: -1;
}
.content .listaAtm .header{
    display: flex;
    width: 100%;
    justify-content:flex-start;
    align-items: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.content .listaAtm .lista{
    display: flex;
    flex-direction: column;
}
.content .listaAtm .lista .lista-content{
    overflow-y: auto;
    max-height: 240px;
    background-color: #FFF;
    border-bottom-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.content .listaAtm .lista .lista-header,
.content .listaAtm .lista .lista-content .lista-item{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-radius: 8px;
    gap: 2px;
    overflow: hidden;
}
.content .listaAtm .lista .lista-header p{
    font-weight: bold;
    background-color: #c8e2f7;
}
.content .listaAtm .lista .lista-header p,
.content .listaAtm .lista .lista-content .lista-item p{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px;
    margin: 0;
}
.content .listaAtm .lista .lista-content .lista-item:nth-child(odd) {
    background-color: #ffffff; /* Light gray for odd rows */
    border-radius: 0px;
}

.content .listaAtm .lista .lista-content .lista-item:nth-child(even) {
    border-radius: 0px;
    background-color: #ebecec;
}

.content .listaAtm .lista .lista-header .acao .link {
    color: lightseagreen;
}
