.content {
    padding: 24px;
    height: 100dvh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.metrics-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
    margin-bottom: 24px;
}

.metric-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    transition: transform 0.2s, box-shadow 0.2s;
}
button.metric-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.metric-card .icon {
    font-size: 2.5em;
    padding: 12px;
    border-radius: 8px;
    color: #034078;
    user-select: none;
}

.total-relatorios .icon {
    background-color: rgba(3, 64, 120, 0.1);
}

.relatorios_bons .icon {
    background-color: rgba(76, 175, 80, 0.1);
    color: #4CAF50;
}

.metric-info h3 {
    font-size: 0.9em;
    color: #666;
    margin: 0;
}

.metric-info .score{
    display: flex;
    align-items: flex-end;
}
.metric-info .score h1{
    margin: 0;
    margin-right: 4px;
}
.metric-info p {
    height: fit-content;
    font-size: 1.8em;
    font-weight: 600;
    color: #0a1128;
    margin: 4px 0;
}
.metric-card.relatorios_bons{
    min-width: fit-content;
}
.metric-card.relatorios_bons p{
    display: flex;
    gap: -4px;
    font-size: 1em;
    padding: 0;
    margin: 0;
}
.metric-card.relatorios_bons p span{
    padding: 0;
    color: #72c950;
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24;
    user-select: none;
}
.metric-card.relatorios_bons p span.fill{
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 1,
        'opsz' 24;
}

button.metric-card {
    position: relative;
    cursor: pointer;
    border: none;
    display: flex;
    text-align: left;
    gap: 16px;
    transition: .3s;
    align-items: flex-start;
    color: #FFF;
    background: #36D1DC;
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
    background: linear-gradient(to right, #5B86E5, #36D1DC);
}
button.metric-card h3{
    color: #FFF;
    font-weight: normal;
}
button.metric-card p{
    color: #FFF;
}
button.metric-card .bg-icon{
    position: absolute;
    top: 8px;
    right: 24px;
    font-size: 7em;
    color: #FFFFFF;
    opacity: 0.2;
    transition: .2s;
}
button.metric-card .icon{
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFF;
}
button.metric-card:hover .bg-icon{
    opacity: 0.5;
}

.lista_relatorios{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.lista_relatorios .header{
    display: flex;
    align-items: center;
    padding: 2px;
    justify-content: space-between;
    gap: 8px;
    border-radius: 8px;
    margin-bottom: 12px;
}
.lista_relatorios .header .search_bar{
    display: flex;
    position: relative;
    min-width: 230px;
    width: 60%;
}
.lista_relatorios .header .search_bar span{
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: #989e9e;
    transition: .2s;
}
.lista_relatorios .header .search_bar input{
    padding: 8px;
    padding-left: 42px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    border-radius: 9px;
    border: 1px solid #989e9e;
}
.lista_relatorios .header .filtros{
    display: flex;
    gap: 8px;
}
.lista_relatorios .header .filtros select{
    padding: 8px;
    font-size: 1em;
    border-radius: 9px;
    border: 1px solid #989e9e;
    background-color: #FFF;
    cursor: pointer;
}
.lista_relatorios .header .search_bar input:focus,
.lista_relatorios .header .filtros select:focus{
    border: 1px solid #3c87ce;
    box-shadow: 0 0 4px #034078;
    outline: none;
    transition: .3s;
}
.lista_relatorios .header .search_bar:has(input:focus) span{
    color: #034078;
}

.lista_relatorios .lista{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 8px; 
    scrollbar-color: #4a4b4b transparent;
    scrollbar-width: thin;
    padding: 2px;
}
.lista_relatorios .header_lista p{
    font-weight: bold;
    font-size: 1em;
    margin: 0;
}
.lista_relatorios .header_lista .visualizar{
    width: 100px;
}
.lista_relatorios .header_lista{
    margin-bottom: 8px;
}
.lista_relatorios .header_lista,
.lista_relatorios .lista .card{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #FFF;
    border-radius: 8px;
    padding: 12px 24px;
    box-sizing: border-box;
    gap: 24px;
    border-left: 3px solid #FFF;
}
.lista_relatorios .lista .card:hover{
    outline: 1px solid #034078;
    border-color: #034078;
    transition: .3s;
}
.lista_relatorios .header_lista .periodo,
.lista_relatorios .lista .card .periodo{
    display: flex;
    flex-direction: column;
    width: 100px;
}
.lista_relatorios .lista .card .periodo p{
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    background: #FFF;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 8px;
}
.lista_relatorios .lista .card .periodo p span{
    text-align: center;
}
.lista_relatorios .header_lista .titulo,
.lista_relatorios .lista .card .titulo{
    display: flex;
    flex-direction: column;
    flex:1;
}
.lista_relatorios .lista .card .titulo h3,
.lista_relatorios .lista .card .titulo p{
    margin: 0;
}
.lista_relatorios .header_lista .nota,
.lista_relatorios .lista .card .nota{
    display: flex;
    gap: 0;
    width: 193px;
}
.lista_relatorios .lista .card .nota .nota_star{
    display: flex;
}
.lista_relatorios .lista .card .nota .nota_star span{
    margin: 0;
    padding: 0;
    font-size: 1.6em;
    color: #f8d53a;
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24;
}
.lista_relatorios .lista .card .nota .nota_star .fill{
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24;
}
.lista_relatorios .lista .card button{
    display: flex;
    align-items: center;
    padding: 4px 8px;
    gap: 12px;
    font-size: 1.2em;
    font-family: "Barlow";
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #FFF;
    outline: 1px solid #989e9e;
    transition: .3s;
}
.lista_relatorios .lista .card button:hover{
    font-weight: bold;
    background-color: #add8db;
}

.no-data{
    align-self: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.no-data .icon{
    font-size: 4em;
    color: #034078;
    background-color: rgba(3, 64, 120, 0.1);
    padding: 16px;
    border-radius: 12px;
}
.no-data h2{
    margin: 0;
    margin-top: 12px;
    font-size: 1.5em;
    color: #034078;
    text-align: center;
}
.no-data p{
    margin: 0;
    margin-top: 16px;
    font-size: 1.2em;
    color: #666;
    text-align: center;
}
.no-data button{
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 10px 20px;
    gap: 12px;
    font-size: 1em;
    background-color: #ffffff;
    color: #535455;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
}
.no-data button h3{
    margin: 0;
    transition: .3s;
    color: #535455;
}
.no-data button span{
    font-size: 1.5em;
    transition: .3s;
}
.no-data button:hover span, 
.no-data button:hover h3{
    color: transparent;
    background: linear-gradient(270deg, #217dd3, #034078, #062644, #0a1128, #0a1128, #034078);
    background-size: 1400% 1400%;
    animation: gradientAnimacao 10s ease infinite;
    background-clip: text;
    -webkit-background-clip: text;
}
.no-data button::before{
    content: "";
    display: block;
    width: 104%;
    height: 110%;
    position: absolute;
    top: 50%;
    left: -2%;
    z-index: -1;
    transform: translateY(-50%);
    border-radius: 10px;
    background: linear-gradient(270deg, #217dd3, #0a1128, #0a1128, #217dd3);
    background-size: 1400% 1400%;
    animation: gradientAnimacao 4s ease infinite;
    filter: blur(8px);
}
@keyframes gradientAnimacao {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.no-data button:hover{
    background: #ffffff;
}


.modal {
    z-index: 10000;
    position: absolute;
    top: 0;
    width: 100dvw;
    height: 100dvh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal .modalContainer {
    background-color: #FFF;
    padding: 24px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    position: relative;
    width: 90%;
    max-width: 600px;
    max-height: 90dvh;
    overflow-y: auto;
}
.modal .modalContainer .modalHeader h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin: 0;
    margin-bottom: 16px;
    color: #034078;
}
.modal .modalContainer .modalHeader {
    padding-right: 72px;
}
.modal .modalContainer .closeModal {
    position: absolute;
    top: 28px;
    right: 24px;
    font-size: 1.5em;
    cursor: pointer;
    color: #666;
}
.modal .modalContainer .closeModal:hover {
    color: #b80000;
}

.modal .modalContainer .modalBody{
    display: flex;
    flex-direction: column;
}

.modal .modalContainer .modalBody #divGerarRelatorio{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.modal .modalContainer .modalBody #divGerarRelatorio .periodo{
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: flex-end;
}
.modal .modalContainer .modalBody #divGerarRelatorio .periodo input[type="date"]{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    font-family: 'Barlow';
}
.modal .modalContainer .modalBody #divGerarRelatorio .periodo .material-symbols-outlined{
    font-size: 1.5em;
    color: #6c6d6d;
}
.modal .modalContainer .modalBody #divGerarRelatorio label{
    font-size: 1em;
    font-weight: 500;
    color: #353535;
}


.modal .modalContainer .modalBody #divGerarRelatorio .componentes{
    min-height: 120px;
    max-height: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    overflow-y: auto;
    margin-bottom: 10px;
}

.modal .modalContainer .modalBody #divGerarRelatorio .componentes .componente {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 8px;
    padding-left: 8px;
    transition: .2s;
    border-radius: 4px;
}
.modal .modalContainer .modalBody #divGerarRelatorio .componentes .componente:hover{
    background-color: #f0f0f0;
    padding-left: 12px;
    cursor: pointer;
}
.modal .modalContainer .modalBody #divGerarRelatorio .componentes .componente label{
    margin: 0;
    font-size: 1em;
    color: #353535;
    width: 100%;
    padding: 8px;
    padding-left: 0;
    cursor: pointer;
}
.modal .modalContainer .modalBody #divGerarRelatorio .componentes .componente input[type="checkbox"]{
    width: 19px;
    height: 17px;
    cursor: pointer;
    display: grid;
    place-content: center;
  appearance: none;
    border: 2px solid #3c3e3f;
    border-radius: 4px;
    position: relative;
    box-sizing: border-box;
}
.modal .modalContainer .modalBody #divGerarRelatorio .componentes .componente input[type="checkbox"]::before {
    content: "";
    width: 12px;
    height: 10px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #034078;
    border-radius: 2px;
}
.modal .modalContainer .modalBody #divGerarRelatorio .componentes .componente input[type="checkbox"]:checked::before {
    transform: scale(1);
}
.modal .modalContainer .modalBody #divGerarRelatorio .componentes .componente:has(input[type="checkbox"]:checked){
    background-color: #d0e7ff;
}
.modal .modalContainer .modalBody #divGerarRelatorio .componentes .componente:has(input[type="checkbox"]:checked) label{
    font-weight: 600;
}

.modal .modalContainer .modalBody #divGerarRelatorio textarea#info_adicional{
    margin-top: 8px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    width: 100%;
    min-height: 80px;
    height: 80px;
    max-height: 160px;
    resize: vertical;
    box-sizing: border-box;
    font-family: 'Barlow';
}

.modal .modalContainer .modalBody #divGerarRelatorio button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 20px 20px;
    border-radius: 4px;
    border: none;
    background-color: #bffcc4;
    color: #0a3b1d;
    cursor: pointer;
    transition: .3s;
}
.modal .modalContainer .modalBody #divGerarRelatorio button h3{
    margin: 0;
}
.modal .modalContainer .modalBody #divGerarRelatorio button:hover{
    background-color: #9ef99e;
}