#map {
    width: 100%;
    height: 100dvh;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.content .top {
    z-index: 1;
    background: rgba(212, 212, 212, 0.651);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(88, 88, 88, 0.17);
    display: flex;
    flex-direction: column;
}

.content .kpis {
    box-sizing: border-box;
    height: 0;
    overflow: hidden;
    padding: 0px;
    transition: all 0.3s ease;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    z-index: 1;
    overflow-y: auto;
}

.content .kpis.expanded {
    padding: 12px;
    height: 280px;
}

.content .kpis .kpi {
    background: rgb(243, 243, 243);
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0;
    width: fit-content;
    position: relative;
    justify-content: flex-start;
    height: 100%;
    box-sizing: border-box;
    flex: 1;
}

.content .kpis .kpi::after {
    content: '';
    width: 101.5%;
    height: 102%;
    position: absolute;
    top: -1%;
    left: -0.7%;
    border-radius: 10px;
    background: linear-gradient(0deg, #b8b8b8, #ffffff);
    opacity: 0.5;
    z-index: -1;
}

.content .kpis .kpi h3 {
    margin: 0;
    color: #21315c;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.5em;
    margin-bottom: 12px;
}
.content .kpis .kpi h3 span {
    margin: 0;
    font-size: 0.8em;
    background: #001c41;
    display: flex;
    width: fit-content;
    padding: 2px 6px;
    border-radius: 4px;
    color: #FFF;
}

.content .kpis .kpi h1 {
    color: #001c41;
}
.content .kpis .kpi .status{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.content .kpis .kpi:has(.status){
    min-width: 240px;
}
.content .kpis .kpi .status .status-item .circle{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: inset -1px -1px 5px rgba(0, 0, 0, 0.2), inset 1px 1px 5px rgba(255, 255, 255, 0.5), 0 2px 4px rgba(0, 0, 0, 0.1);
}
.content .kpis .kpi .status .status-item .circle.green{
    background-color: #4CAF50;
}
.content .kpis .kpi .status .status-item .circle.red{
    background-color: #F44336;
}
.content .kpis .kpi .status .status-item{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;  
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #FFF;
}
.content .kpis .kpi .status .status-item p{
    margin: 0;
    display: flex;
    align-items: center;
    margin: 0;
}
.content .kpis .kpi .status .status-item p span{
    font-weight: normal;
    margin-left: 8px;
    color: #333;
    font-weight: bold;
    font-size: 1em;
}
.content .kpis .kpi .rank{
    display: flex;
    flex-direction: column;
}
.content .kpis .kpi:has(.rank){
    min-width: 370px;
}
.content .kpis .kpi .rank div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 6px;
    padding: 12px;  
}
.content .kpis .kpi .rank div p{
    font-weight: bold;
    margin: 0;
}
.content .kpis .kpi .rank div p.atm{
    font-weight: normal;
    flex: 1;
}
.content .kpis .kpi .rank div p.alertas{
    min-width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content .kpis .kpi .rank div.header{
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-bottom: 4px;
}
.content .kpis .kpi .rank div.top3{
    background: #f0f0f0;
    border-radius: 4px;
    box-shadow: inset -1px -1px 5px rgba(0, 0, 0, 0.2), inset 1px 1px 5px rgba(255, 255, 255, 0.5), 0 2px 4px rgba(0, 0, 0, 0.1);
}
.content .kpis .kpi .rank div.top3.first{
    background: #FF9B9B;
}
.content .kpis .kpi .rank div.top3.second{
    background: #FFCE6B;
}
.content .kpis .kpi .rank div.top3.third{
    background: #C2D1FF;
}

.btn-expand-kpi {
    margin-top: 12px;
    text-align: center;
    width: fit-content;
    align-self: center;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    border: none;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    z-index: 1;
    background: radial-gradient(#ffffff 60%, #b8b8b8 95%);
}

.btn-expand-kpi:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.pesquisa-filtros {
    display: flex;
    align-items: center;
    gap: 12px;
    z-index: 1;
    height: fit-content;
    padding: 12px;
}

.pesquisa-div {
    position: relative;
    width: 100%;
}

.pesquisa-div input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 40px 10px 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-family: 'Barlow';
    transition: all 0.3s ease;
}

.pesquisa-div input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.pesquisa-div span {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
}

.pesquisa-filtros select {
    height: fit-content;
    padding: 10px 16px;
    margin: 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-family: 'Barlow';
    transition: all 0.3s ease;
    background: white;
}

#modal #modalContainer {
    background-color: #F3F3F3;
    padding: 24px;
    padding-top: 0;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    width: 900px;
    height: 700px;
    max-width: 90vw;
    max-height: 90vh;
    box-sizing: border-box;
    overflow-y: auto;
}
#modal #modalContainer .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    position: sticky;
    top: 0;
    background-color: #F3F3F3;
    padding-top: 24px;
}
#modal #modalContainer .header .close {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1.5em;
    color: #333;
    transition: .3s;
}
#modal #modalContainer .header h1{
    margin: 0;
}
#modal #modalContainer .header .close:hover {
    color: #bb0606;
}
#modal #modalContainer .contentModal {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
#modal #modalContainer .contentModal .left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}
#modal #modalContainer .contentModal .right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    background-color: #FFF;
    border-radius: 8px;
}
#modal #modalContainer .contentModal .left .item{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
#modal #modalContainer .contentModal .left .item .title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin: 0;
}
#modal #modalContainer .contentModal .left .item .title span,
#modal #modalContainer .contentModal .right .title span{
    font-size: 1.5em;
    width: 38px;
    height: 38px;
    background: #70AEFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #FFF;
}
#modal #modalContainer .contentModal .left .item .title h2{
    margin: 0;
    font-size: 1.4em;
    color: #2C2A2A;
}
#modal #modalContainer .contentModal .left .item p{
    margin: 8px 0 0 0;
    font-size: 1em;
    color: #333;
}
#modal #modalContainer .contentModal .left .item h3{
    margin-bottom: 4px;
    margin-top: 12px;
    color: #2C2A2A;
}
#modal #modalContainer .contentModal .left .item p.status{
    font-weight: bold;
    font-size: 1.1em;
    color: #FFF;
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: #666;
    width: fit-content;
    padding: 4px 8px;
    border-radius: 4px;
    margin: 0;
    border: 2px solid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#modal #modalContainer .contentModal .left .item p.status.ativo,
#modal #modalContainer .contentModal .left .item p.status.bom{
    background-color: #7AD914;
    border-color: #9FFFA6 #6ECC0C #6ECC0C #9FFFA6;
}
#modal #modalContainer .contentModal .left .item p.status.inativo,
#modal #modalContainer .contentModal .left .item p.status.falha{
    background-color: #e75e5e;
    border-color: #FF9B9B #E04C4C #E04C4C #FF9B9B;
}
#modal #modalContainer .contentModal .left .item p.status.alerta{
    background-color: #FFB536;
    border-color: #FFD88A #FFA800 #FFA800 #FFD88A;
}
#modal #modalContainer .contentModal .left .item p.status span{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 1em;
    font-variation-settings: 'FILL' 1;
}
#modal #modalContainer .contentModal .left .item .components{
    display: flex;
    flex-direction: row;
    gap: 4px;
    flex-wrap: wrap;
}
#modal #modalContainer .contentModal .left .item table{
    box-sizing: border-box;
    border-collapse: collapse;
    display: block; 
    border: 1px solid #ccc;
    border-radius: 8px;
}
#modal #modalContainer .contentModal .left .item table thead {
    display: table;
    width: 100%;
}

#modal #modalContainer .contentModal .left .item table tbody {
    display: block;
    max-height: 200px;
    overflow-y: auto;
    background-color: #FFF;
}
#modal #modalContainer .contentModal .left .item table tbody::-webkit-scrollbar{
    width: 8px;
}
#modal #modalContainer .contentModal .left .item table tbody::-webkit-scrollbar-thumb{
    background-color: #072149;
    border-radius: 4px;
}
#modal #modalContainer .contentModal .left .item table tbody::-webkit-scrollbar-track{
    background-color: #e0e0e0;
    border-radius: 4px;
}
#modal #modalContainer .contentModal .left .item table th {
    background-color: #e0e0e0;
    position: sticky;
    top: 0;
    z-index: 2;
}

#modal #modalContainer .contentModal .left .item table th,
#modal #modalContainer .contentModal .left .item table td{
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
#modal #modalContainer .contentModal .left .item table th{
    background-color: #e0e0e0;
}

#modal #modalContainer .contentModal .right{
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
#modal #modalContainer .contentModal .right .title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin: 0;
    color: #2C2A2A;
}
#modal #modalContainer .contentModal .right .title span{
    background-color: #1261C8;
}
#modal #modalContainer .contentModal .right .title h2{
    margin: 0;
    font-size: 1.4em;
}
#modal #modalContainer .contentModal .right .stats{
    background-color: #DFE7FF;
    padding: 12px;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    gap: 8px;
    flex: 1;
}
#modal #modalContainer .contentModal .right .stats h3{
    margin: 0 0 8px 0;
    color: #2C2A2A;
}
#modal #modalContainer .contentModal .right .stats p{
    margin: 4px 0;
}
#modal #modalContainer .contentModal .right .stats .progress-bar{
    width: 100%;
    height: 12px;
    background-color: #f1f1f1;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: inset -1px -1px 5px rgba(0, 0, 0, 0.2), inset 1px 1px 5px rgba(255, 255, 255, 0.5);
}

#modal #modalContainer .contentModal .right .stats .progress-bar .progress{
    height: 100%;
    background-color: #21315c;
    width: 0%;
    border-radius: 10px 0 0 10px;
    transition: width 0.5s ease-in-out;
}
#modal #modalContainer .contentModal .right .stats .stat{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
#modal #modalContainer .contentModal .right .stats .stat .circle{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: inset -1px -1px 5px rgba(0, 0, 0, 0.2), inset 1px 1px 5px rgba(255, 255, 255, 0.5), 0 2px 4px rgba(0, 0, 0, 0.1);
}
#modal #modalContainer .contentModal .right .stats .stat .circle.bom{
    background-color: #4CAF50;
}
#modal #modalContainer .contentModal .right .stats .stat .circle.ruim{
    background-color: #F44336;
}
#modal #modalContainer .contentModal .right .stats .stat p{
    margin: 0;
    display: flex;
    align-items: center;
}
#modal #modalContainer .contentModal .right .stats .stat p span{
    color: #333;
    font-weight: bold;
    font-size: 1em;
}