.container_tela {
    width: 100%;
    height: 100%;    
}

.perosna-kpi {
    background-color: #004076;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-self: center;
    height: 100%;
    width: 100%;
    gap: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);   
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
}

.perosna-kpi:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    background-color: #008cff73; 
}

.icon_kpi {
    width: 62px;
    height: 63px;
    font-size: 55px !important;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    margin-left: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.perosna-kpi .metric-info h3,
.perosna-kpi .metric-info h4 {
    font-weight: 500;
    color: white !important; 
    font-size: 20px;
}

.perosna-kpi:hover .metric-info h3,
.perosna-kpi:hover .metric-info h4 {
    color: rgb(0, 0, 0) !important;
}

.perosna-kpi .metric-info p {
    color: white !important;
}

.perosna-kpi:hover .metric-info p {
    color: black !important;
}

h1 {
    color: #004076;
    font-style: italic;
    font-weight: 300;
    font-size: 55px;
}

.classCompontes{
    display: flex;
    flex-direction: column;
    width: 132px;
}

.componente, .atms{
    height: 23px;
    display: flex;
    flex-direction: row;
    justify-self: center;
    margin: 0px;
    gap: 10px;
}

.componente svg{
    filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
    vertical-align: middle;
    margin-left: 8px;
}

.material_color_kpi{
    background-color: rgb(255 0 0 / 79%);
    color: white;
    margin-left: 12px;
    width: 60px;
}

.chamado-titulo{
    height: auto;
    font-size: 10px;
}

.chamado-item{
    height: auto;
    font-size: 10px;
}

.kpi_metrica{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    gap: 30px;
    color: black;
}

.chamado-item{
    width: auto;
    height: 60%;

}

.info{
    width: 100%;
    margin: 10px;
}

.chamado-titulo{
    font-size: 15px;
    font-weight: 600;
    font-style: italic;
    color: #004076;
}

.chamado-detalhes{
    font-size: 15px;
    font-weight: 400;
}

.container h3{
    font-style: italic !important;
    font-weight: 600 !important;
    font-size: 23px !important;
}

.tituloAlerta{
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-top: 5px;

}

.perosna-kpi:hover .tituloAlerta {
    color: black !important;
}

.infoAlerta{
    color: white;
    font-size: 35px;
    font-weight: 600;
}

.perosna-kpi:hover .infoAlerta {
    color: black !important;
}

.classCompontes_alertas, .ATM_Alerta{
    display: flex;
    flex-direction: column;
    color: white;
}
.perosna-kpi .metric-info .ATM_Alerta .atms{
    font-size: 27px !important;
    font-style: italic;
}
.perosna-kpi:hover .classCompontes_alertas, .ATM_Alerta {
    color: black !important;

}
.atm_color{
    background-color: rgba(255, 247, 205, 1);
    width: 57px;
    padding: 6px;
    color: black;

}

.grafico{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 91%;
    height: 88%;
    padding: 0;
    padding: auto;
}
.grafico h3{
    margin: 0;
    padding-bottom:-50px ;
}





.container_jira .chart-container {
    max-height: 400px; 
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px; 
    
}


.container_jira .chart-container::-webkit-scrollbar {
    width: 8px;
}

.container_jira .chart-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.container_jira .chart-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.container_jira .chart-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#myChart{
    height: auto;
    margin-top: -30px;
}

#chart{
    height: 100%;
  
}
.apexcharts-legend{
     flex-direction: row-reverse;   
}

.insights_ia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
}
.insights-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: black;
}
.insights-container h3{
    color: red !important;
    font-size: 20px !important;
    font-weight: 500 !important;
}