.content{
    flex-direction: column;
    padding: 24px;
}

.content .listaAtm{
    background: rgb(243, 243, 243);
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0;
    height: fit-content;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.content .listaAtm::after {
    content: '';
    width: 100.5%;
    height: 102%;
    position: absolute;
    top: -1.25%;
    left: -0.25%;
    border-radius: 10px;
    background: linear-gradient(0deg, #b8b8b8, #ffffff);
    opacity: 0.5;
    z-index: -1;
}
.content .listaAtm .header{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}
.content .listaAtm .header .pesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 0.4;
    min-width: 240px;
}
.content .listaAtm .header .pesquisa span{
    position: absolute;
    right: 12px;
    color: rgba(0, 0, 0, 0.3);
}
.content .listaAtm .header .pesquisa input{
    width: 100%;
    font-size: 0.9em;
    border-radius: 32px;
    padding: 12px;
    border: none;
    box-shadow: inset -0.5px -0.5px 4px rgba(0, 0, 0, 0.2), inset 1px 1px 5px rgba(255, 255, 255, 0.5), 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: .3s;
}
.content .listaAtm .header .pesquisa input:focus{
    outline: none;
    box-shadow: inset -0.5px -0.5px 6px rgba(0, 0, 0, 0.3), inset 1px 1px 7px rgba(255, 255, 255, 0.6), 0 2px 6px rgba(0, 0, 0, 0.2);
}
.content .listaAtm .lista{
    display: flex;
    flex-direction: column;
}
.content .listaAtm .lista .lista-content{
    overflow-y: auto;
    max-height: 240px;
    background-color: #FFF;
    border-bottom-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.content .listaAtm .lista .lista-header,
.content .listaAtm .lista .lista-content .lista-item{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-radius: 8px;
    gap: 2px;
    overflow: hidden;
}
.content .listaAtm .lista .lista-header p{
    font-weight: bold;
    background-color: #c8e2f7;
}
.content .listaAtm .lista .lista-header p,
.content .listaAtm .lista .lista-content .lista-item p{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px;
    margin: 0;
}
.content .listaAtm .lista .lista-content .lista-item:nth-child(odd) {
    background-color: #ffffff; /* Light gray for odd rows */
    border-radius: 0px;
}

.content .listaAtm .lista .lista-content .lista-item:nth-child(even) {
    border-radius: 0px;
    background-color: #ebecec;
}

.modal {
    z-index: 10000;
    position: absolute;
    top: 0;
    width: 100dvw;
    height: 100dvh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal .modalContainer {
    background-color: #FFF;
    padding: 24px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    position: relative;
    min-width: 400px;
    width: 100%;
}
.modal .modalContainer .closeModal {
    cursor: pointer;
    position: absolute;
    top: 26px;
    right: 16px;
}
.modal .modalContainer .form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.modal .modalContainer h2 {
    margin: 0;
    margin-bottom: 12px;
}
.modal .modalContainer .form .inputGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.modal .modalContainer .form .inputGroup label {
    font-weight: 600;
}
.modal .modalContainer .form .inputGroup input,
.modal .modalContainer .form .inputGroup select {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1em;
}
.modal .modalContainer .form .inputGroup input:focus,
.modal .modalContainer .form .inputGroup select:focus {
    outline: none;
    border-color: #034078;
    box-shadow: 0 0 5px rgba(3, 64, 120, 0.5);
}
.modal .modalContainer .form .btnGroup {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}
.modal .modalContainer .form .btnGroup button {
    padding: 12px 24px;
    border: none;
    border-radius: 32px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}
.modal .modalContainer .form .btnGroup button.cancel {
    background-color: #f44336;
    color: #ffffff;
}
.modal .modalContainer .form .btnGroup button.cancel:hover {
    background-color: #e57373;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.modal .modalContainer .form .btnGroup button.save {
    background-color: #4caf50;
    color: #ffffff;
}
.modal .modalContainer .form .btnGroup button.save:hover {
    background-color: #66bb6a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
