AMBIENTE_PROCESSO=desenvolvimento

# Configurações de conexão com o banco de dados
DB_HOST=''
DB_DATABASE=''
DB_USER=''
DB_PASSWORD=''
DB_PORT=3306

# Configurações do servidor de aplicação
APP_PORT=8080
APP_HOST='localhost'

# importante: caso sua senha contenha caracteres especiais, insira-a entre 'aspas'

# CREDENTIALS DA AWS
REGION_AWS='us-east-1'
AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''
AWS_SESSION_TOKEN=''
AWS_BUCKET_CURATED_NAME=''
AWS_BUCKET_CLIENT_NAME='---'
BUCKET_NAME=''

URL_JIRA=''
USER_JIRA=''
TOKEN_JIRA=''

S3_PREFIX=disponibilidadeProcessos/
S3_KEY=disponibilidadeProcessos.csv

# API GEMINI
GEMINI_API_KEY=''
